<div class="contenedor-ahorcado">

  <app-imagen-ahorcado [fallos]="fallos()"></app-imagen-ahorcado>

<app-palabra-ahorcado 
  [palabraSecreta]="palabraSecreta()"
  [letraPulsada]="letraTeclado()"
  (palabraCompletada)="onPalabraCompletada()">
</app-palabra-ahorcado>

<app-teclado-ahorcado [juegoTerminado]="juegoTerminado()" (letraPulsada)="enviarLetra($event)">
</app-teclado-ahorcado>

  <div class="controles">
    <p>Oportunidades: {{ oportunidades() }}</p>
    @if (juegoTerminado() && oportunidades() > 0) {
      <p>¡Has ganado! 🎉</p>
    }
    @if (oportunidades() === 0) {
      <p>Has perdido. ¡Inténtalo de nuevo!</p>
    }
    <button (click)="reiniciar()">Reiniciar Juego</button>
  </div>

</div>