*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header,main,footer{
    border: 1px solid black;
}
.contenedorSlider{
    width: 80vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imagenSlider {
    width: 10dvw;
}

