<footer class="footer">
  <div class="wrap">
  <div class="contacto">
  <a href="https://www.linkedin.com/in/santiago-martínez-ortiz-655005ab" target="_blank" aria-label="LinkedIn">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" class="icono" />
    </a>
    <a href="https://github.com/Santiago2M/Santiago2M.github.io" target="_blank" aria-label="GitHub">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="icono" />
    </a>
  </div>
  </div>

</footer>
