<header class="cabecera">
  <img class="foto" ngSrc="https://randomuser.me/api/portraits/men/1.jpg" width="128" height="128" alt="Foto de perfil" />
  <div class="info">
    <h1>Santiago Martínez Ortiz</h1>
    <p>Soy desarrollador junior con mucha curiosidad por la tecnología y una gran pasión por el Big Data. 🚀</p>
  </div>
  <nav class="botonera">
  @for (seccion of secciones; track seccion.id) {
      <button 
        class="boton" 
        [class.selected]="getSeleccionada() === seccion.id" 
        (click)="seleccionarSeccion(seccion.id)">
        {{ seccion.nombre }}
      </button>
    }
  </nav>
</header>
